<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Random Data APP!</h1>
    <ul>
        <li><a href="CreatePAge">Create Data</a></li>
        <li><a href="ReadPage">Read Data</a></li>
    </ul>

    <h1>Create New Data</h1>


    <Form action="/CreateData" >



        <Button type="submit" style="background-color: aquamarine;">Click For Fake Data</Button>

    </Form>






</body>
</html>