body{
    display: flex;
    position: relative;
    
}
.flexcontainer{
    
    width: 920px;
    flex-wrap:wrap;
    flex-direction: center;
    position: relative;
   margin: 0 auto;
}

img{
    width:300px;
    height:200px;
 
}