<h1>The weather in San Fran </h1>

<p>
   The Humidity is: <%=data.humidity%>
</p>
<p>
    The low temp is: <%=data.min_temp%>
 </p>
 <p>
    The high tenp is: <%=data.max_temp%>
 </p>
 <p>
    The forcast is: <%=data.weather_state_name%>
 </p>
