<%- include ('partials/header')%>

<nav class="nav">
    <a class='nav-link' href="#">Donuts</a>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link active" href="/about">About</a>
    <a class="nav-link" href="/contact">Contact</a>
  </nav>

  <div style=" background-color: lightgray;">
  <h1 style='text-align: center;'>About our company</h1>
<p style='text-align: center; background-color: lightgray;'>We got glazed, chocolate iced, respberry filled, chocolate iced glazed, glazed chocolate cake, powdered cake, and about three dozen other flavors to satisfy your sugar cravings!</p>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active"><a href="/about">About</a></li>
      <li class="breadcrumb-item "><a href="/contact">Contact</a></li>
    </ol>
  </nav>
  <%- include ('partials/footer')%>