<%- include ('partials/header')%>
<nav class="nav">
    <a class='nav-link' href="#">Donuts</a>
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/about">About</a>
    <a class="nav-link" href="/contact">Contact</a>
  </nav>
  <div style=" background-color: lightgray;"> 
<h1 style='text-align: center; '>Welcome to the Donut Shop</h1>
<p style='text-align: center; '>We bake the hottest, freshest donuts that you can imagine. You want donuts? We got it.</p>
</div> 

<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
      <li class="breadcrumb-item active"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/about">About</a></li>
      <li class="breadcrumb-item "><a href="/contact">Contact</a></li>
    </ol>
  </nav>






<%- include ('partials/footer')%>