<%- include ('partials/header')%>


<h1 style="text-align: center;">Thanks for your suggestion!!</h1>
<form action="/">
<div style="text-align: center;">
<button type="submit">Home</button>
</div>
</form>


<%- include ('partials/footer')%>