<%- include('partials/header')%>
  
    
<form action="/results">
  <strong> <p id="title">In the mood to catch a flick? see what movies are playing now!

    <button type="submit">Show Me a list of Movies!</button>
  </p></strong> 


</form>



<%- include('partials/footer')%>