body{
    background: rgb(147, 230, 255);
}
#submit{
    height: 60px;
    width:100px;
    color:white;
    background-color: rgb(33, 33, 124);
    border-radius: 20%;
    border:2px solid white;
    font-size: 20px;
}
label{
    font-size: 25px;
}